.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 0%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: -10%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important
 
.banner-interno__titulo__icono i
  color: $color-primario
 
figcaption
  font-weight: normal
 
.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important
 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-tablet.png") !important
  @media screen and (max-width: $bp-max-sm)
    background-image: url("../assets/curso/portada/fondo-banner-principal-mobile.png") !important

//BACKGROUNDs
.fullwidth-bg
  position: relative
  z-index: 0

  &--1::after
    top: -100px
    left: -50px
    position: absolute
    content: url('../assets/curso/temas/tema4/bg-1.png')

    @media (max-width: 450px)
      display: none

  &--2::after
    top: -100px
    left: -50px
    position: absolute
    content: url('../assets/curso/temas/tema2/bg-2.png')

    @media (max-width: 450px)
      display: none

  &--3::after
    top: 0
    left: -50px
    position: absolute
    content: url('../assets/curso/temas/tema3/bg-3.png')

    @media (max-width: 450px)
      display: none

.bg-decorado
  background-image: url("../assets/curso/sintesis/bg-1.png")
  background-repeat: no-repeat
  background-position: center top
  background-size: cover

  @media screen and (min-width: $bp-min-xl)
    padding-right: 100px !important
  
  &--1
    background-image: url("../assets/curso/temas/tema4/bg-2.png")

.bg-cuadros
  background-image: url("../assets/curso/temas/tema4/bg-3.png")
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  &--1
    background-image: url("../assets/curso/temas/tema4/bg-4.png")
  &--2
    background-image: url("../assets/curso/temas/tema4/bg-5.png")
  &--3
    background-image: url("../assets/curso/temas/tema4/bg-6.png")
  &--4
    background-image: url("../assets/curso/temas/tema2/bg-3.png")
  &--5
    background-image: url("../assets/curso/temas/tema3/bg-1.png")
  &--6
    background-image: url("../assets/curso/temas/tema3/bg-2.png")

.bg-primario-p5
  background-color: $color-primario-p5

.z-2
  position: relative
  z-index: 2

.banner-text
  background-color: $white
  border-radius: 10px
  padding: 20px 30px
  margin-top: -40px

@media (min-width: 992px)
  .banner-text
    margin-top: -100px

.drop-shadow
  filter: drop-shadow(0px 2px 2px #00000020)

.accesibilidad
  z-index: 3

ul
  list-style-type: disc
  padding-left: 20px

.w-140
  max-width: 140px

.w-85
  width: 85px
  margin: 0 auto

.tabs-a__tab
  background-color: #E8F4FF
.tabs-a__content-item
  height: 93%
  border-radius: 10px

.tabs-a__content-item
  background-color: #E8F4FF

.slider-wrapper
  position: relative
  .bg-orange
    background-image: url(../assets/curso/temas/tema2/bg-slider.png)
    background-position: center
    background-size: cover
    position: absolute
    top: -20px
    left: -60px
    bottom: -20px
    right: -60px
    width: calc( 100% + 168px  )
    height: calc( 100% + 40px  )

  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    background-image: url(../assets/bullets/arrow-white.svg)


  .slyder-a__bullets__item
    background-color: #F8AA5E
    border-color: #F8AA5E
    opacity: 0.5
    &--active
      opacity: 1

.tabs-c__header
  margin-bottom: 0
  background-color: #F6F6F690

.tabs-c__content-item
  background-color: #F6F6F6
  padding: 40px

.factores-slider
  &__tarjeta
    border-radius: 14px
    height: 97% !important
    margin: 10px
    
  &__icon 
    max-width: 239px

  &__number
    color: $color-secundario
    font-size: 30px
    
    &.color-acento-contenido
      color: $color-acento-contenido
      margin-bottom: 10px

  .slyder-f
    align-items: center

    .slyder-f__main
      width: 70%

      @media (min-width: 769px)
        width: 80%

  .slyder-f__btn
    height: 35px
    width: 35px
    max-width: 35px
    background-color: $color-acento-botones
    border-radius: 50%
    padding: 0 !important
    margin: 0 auto
    color: $white
    .fa-chevron-left
      font-size: 20px
    .fa-chevron-right
      font-size: 20px
